@font-face {
  font-family: 'Roboto';
  src:
    url(/fonts/roboto.woff) format(woff),
    url(/fonts/roboto.woff2) format(woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url(/fonts/robotobold.woff) format(woff),
    url(/fonts/robotobold.woff2) format(woff2);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url(/fonts/robotomedium.woff) format(woff),
    url(/fonts/robotomedium.woff2) format(woff2);
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  display: inline-block;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border-radius: 3px;

  box-sizing: border-box;
}

.header, .slider {
  background-color: #eeeeee;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 50px;

  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.logo {
  width: 160px;
  height: 65px;
  margin-right: auto;
}

.logo__img:hover {
  filter: opacity(0.8);
}

.logo__img:active {
  filter: opacity(0.3);
}

.nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 600px;
  margin: 0;
  padding: 0;
  padding-top: 25px;

  list-style: none;
}

.nav__link {
  display: block;
  margin-left: 45px;
  padding-bottom: 3px;
}

.nav__link:hover {
  color: #fb565a;
}

.nav__link:active {
  color: inherit;

  border-bottom: 2px solid #fb565a;

  opacity: 0.3;
}

.nav__link--active {
  border-bottom: 2px solid #fb565a;
}

.backet {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 300px;
  margin: 0;
  padding: 0;
  padding-top: 25px;

  list-style: none;
}

.backet__link {
  position: relative;
  display: block;
  padding-left: 45px;
}

.backet__link::before {
  position: absolute;
  top: 8px;
  left: 5px;
  width: 15px;
  height: 15px;

  content: "";

  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.backet__link:hover {
  color: #fb565a;
}

.backet__link:active {
  color: inherit;

  border-bottom: 2px solid #fb565a;

  opacity: 0.3;
}

.page-header__title {
  margin: 0;
  padding-top: 75px;
  padding-bottom: 110px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;

  background-color: #eeeeee;
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__title {
  margin-top: 0;
  padding-top: 55px;

  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slider__button {
  width: 240px;
  height: 50px;

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  background-color: #fb565a;
}

.slider__button:hover {
  background-color: #e74246;
}

.slider__button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  border-bottom: 2px solid #eeeeee;
}

.services__item {
  position: relative;

  width: 260px;
  margin-top: 80px;
  margin-right: 100px;
  margin-bottom: 80px;
  padding-top: 170px;
  padding-right: 40px;
}

.services__item:nth-child(3n) {
  margin-right: 60px;
}

.services__item::before {
  position: absolute;

  content: "";
  top: 0;
  left: 0;

  width: 300px;
  height: 146px;
}

.services__item:nth-child(1)::before {
  background-image: url(../img/promo-1.jpg);
}

.services__item:nth-child(2)::before {
  background-image: url(../img/promo-2.jpg);
}

.services__item:nth-child(3)::before {
  background-image: url(../img/promo-3.jpg);
}

.services__title {
  margin: 0;
  padding: 0;

  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.services__desc {
  margin-top: 20px;
  margin-bottom: 30px;
}

.services__button {
  width: 160px;
  height: 50px;
  margin-top: 5px;
  padding-top: 12px;

  font-weight: 500;
  color: #ffffff;
}

.services__button--red {
  background-color: #fb565a;
}

.services__button--red:hover {
  background-color: #e74246;
}

.services__button--red:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.services__button--green {
  background-color: #00ca74;
}

.services__button--green:hover {
  background-color: #00bc6c;
}

.services__button--green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
}

.services__button--yellow {
  background-color: #efc84a;
}

.services__button--yellow:hover {
  background-color: #eab534;
}

.services__button--yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
}

.about .container {
  display: flex;
  justify-content: space-between;
}

.about__col-left {
  width: 700px;
}

.about__col-right {
  width: 460px;
}

.about__title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about__services {
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.about__services-list {
  padding-left: 0;

  list-style: none;
}

.about__img {
  width: 360px;
  height: 208px;
}

.table__caption {
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.table__th  {
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
  color: #000000;
}

.table__td {
  line-height: 18px;
}

.partners__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 46px;
  padding-bottom: 38px;

  list-style: none;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.partners__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
}

.partners__item::after {
  position: absolute;
  content: "";
  top: 20px;
  right: -20px;
  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.partners__item:nth-child(4n)::after {
  content: none;
}

.partners__img {
  opacity: 0.2;
}

.partners__img:hover {
  opacity: 1;
}

.partners__img:active {
  opacity: 0.1;
}

.catalog .container {
  display: flex;
}

.filters {
  width: 260px;

  line-height: 20px;
}

.filters__group {
  border: none;
}

.filters__title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.filters__group-list {
  padding-left: 0;

  list-style: none;
}

.filters__button {
  width: 260px;
  height: 50px;

  line-height: 18px;
  color: #000000;

  background-color: #eeeeee;
  border: none;
}

.filters__button:hover {
  background-color: #dfdfdf;
}

.filters__button:active {
  color: #000000;
  opacity: 0.3;

  background-color: #d5d5d5;
}

.catalog__wrapper {
  width: 900px;
}

.sorting {
  display: flex;
  justify-content: space-between;
}

.sorting__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.sorting__list {
  display: flex;
  padding-left: 0;

  list-style: none;
}

.sorting__item {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.sorting__order-list {
  padding-left: 0;

  list-style: none;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;

  list-style: none;
}

.catalog__item {
  margin-left: 140px;
  margin-bottom: 33px;
}

.catalog__item:nth-child(2n) {
  margin-left: 40px;
}

.catalog__cart {
  width: 360px;
  height: 231px;

  line-height: 18px;
  text-align: center;

  background-color: #eeeeee;
}

.catalog__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.catalog__title:hover {
  color: #fb565a;
}

.catalog__title:active {
  color: #000000;
  opacity: 0.3;
}

.catalog__desc {
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.catalog__price {
  width: 200px;
  height: 50px;

  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: #fb565a;
}

.catalog__price:hover {
  background-color: #e74246;
}

.catalog__price:active {
  background-color: #d7373b;
}

.pagination__list {
  display: flex;
  justify-content: center;

  list-style: none;
}

.contacts {
  width: 100%;
  height: 416px;

  line-height: 18px;

  background-image: url(../img/map.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.contacts__wrapper {
  width: 319px;
  height: 308px;

  background-color: #ffffff;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.contacts__button {
  width: 219px;
  height: 50px;

  color: #ffffff;

  background-color: #fb565a;
}

.contacts__icon {
  width: 231px;
  height: 190px;
}

.social .container {
  display: flex;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  margin: 0;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 0;

  list-style: none;
}

.social__item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.social__link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;

  border-radius: 50%;
}

.social__link::before {
  position: absolute;

  content: "";
}

.social__link--vk::before {
  width: 26px;
  height: 15px;

  background-image: url(../img/vk-icon.svg);
}

.social__link--fb::before {
  width: 12px;
  height: 22px;

  background-image: url(../img/fb-icon.svg);
}

.social__link--insta::before {
  width: 21px;
  height: 21px;

  background-image: url(../img/insta-icon.svg);
}

.social__link:hover {
  background-color: #e74246;
}

.social__link:active {
  background-color: #d7373b;
}

.social__link:active::before {
  opacity: 0.3;
}

.social__title {
  width: 780px;
  margin: 0;
  margin-top: 70px;
}

.social__slogan {
  display: inline-block;
  padding-top: 5px;
  padding-left: 20px;

  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  vertical-align: middle;
  color: #000000;
}

.social__desc {
  display: inline-block;
  padding-top: 10px;
  padding-left: 20px;

  line-height: 22px;
  vertical-align: middle;
  color: #444444;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
